/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}


/* UTILITIES */

.active {
    color: #3E69CF;
    padding-bottom: 5px;
    border-bottom: 3px solid #3E69CF;
}