/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.list_special {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* UTILITIES */

.active {
    color: #3E69CF;
    padding-bottom: 5px;
    border-bottom: 3px solid #3E69CF;
}

.c_text {
    color: #3E69CF;
}

h1 {
    font-size: 20px;
    color: #3D4043;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #3D4043;
}

p {
    font-size: 13px;
    color: #3D4043;
}

.spc_text {
    font-size: 13px;
    color: #3D4043;
}

.text_special {
    color: #3D4043;
}